---
layout: default
title: Donate to Beit Eshel
header_background_image: https://source.unsplash.com/0U_gjae2TKo/1880x1240?a=.png
newsletter_background_image: https://source.unsplash.com/c8ET5XvBwnU/1880x1240?a=.png
---
<header style="background-image: url({% include relative-src.html src=page.header_background_image %});">
	<div class="container">
		<h1 class="editable">Support Beit Eshel</h1>
		<div class="button">
			<a href="#donate">Donate Today</a>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</header>

<section id="learn-more">
	<div class="container">
		<h2 class="editable">Why You Should Support Us</h2>

		<ul class="thirds">
			<li>
				<div class="image"><img class="editable" alt="population" src="{{ site.baseurl }}/images/people.svg" /></div>
				<h3 class="editable">Helping People Together</h3>
				<p class="editable">Whether it is spiritual, financial, guidance-based or otherwise, Beit Eshel sees people as the greatest asset. </p>
			</li>

			<li>
				<div class="image"><img class="editable" alt="trends" src="{{ site.baseurl }}/images/trend.svg" /></div>
				<h3 class="editable">Making a Difference</h3>
				<p class="editable">Each dollar goes toward the operation of the church and its ministries with outreach programs to indigeneous peoples.</p>
			</li>

			<li>
				<div class="image"><img class="editable" alt="conditions" src="{{ site.baseurl }}/images/heart.svg" /></div>
				<h3 class="editable">Belief in Mercy for the Earth</h3>
				<p class="editable">A strong belief that the Earth deserves to be taken care of along with its people.</p>
			</li>
		</ul>
	</div>
</section>

<section>
	<div class="container mission">
		<h2 class="editable">Our Mission</h2>
		<p class="editable"><img src="https://source.unsplash.com/9fQDKybDgqk/200x134" alt="Sheep" width="200" height="134">To gather our flocks, and to 
grow and propser our congregation and those to whom outreach is made.</p>
	</div>
</section>

<section>
	<div class="container">
		<blockquote>
			<p class="quote editable">If a brother or sister be naked, and destitute of daily food, and one of you say unto them, "Depart in peace, be 
ye warmed and filled"; notwithstanding ye give them not those things which are needful to the body; what doth it profit? Even so faith, if it hath not works, is 
dead.</p>
			<div class="attribute">
				<p class="meta">
					<span class="author editable"><strong>James the Just</strong><br />Founder</span>
		
				</p>
			</div>
		</blockquote>
	</div>
</section>

<section class="newsletter" style="background-image: url({% include relative-src.html src=page.newsletter_background_image %});">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable">Sign up to hear the latest news and progress in our ministry and funding needs.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</section>

<section id="donate">
	<div class="container">
		<h2 class="editable">Make a donation</h2>
		<div class="donate">
			{{ site.donation_embed }}
		</div>
	</div>
</section>

<section>
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		{% for post in site.posts %}
			{% assign author_id = post.author_staff_member | prepend: "/staff_members/" | append: "/" %}
			{% assign author = site.staff_members | where: "url", author_id | first %}
			<div class="post">
				<div class="post-title">
					<img src="{% include relative-src.html src=author.image %}" alt="Photo of {{ author.name }}" width="50" height="50" />
					<h3>{{ post.title }}</h3>
					<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
				</div>
				{{ post.content }}
				<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
			</div>
		{% endfor %}
	</div>
</section>
